
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');


body{

    margin: 0;
    padding-bottom: 0px;
    border-top: 100px solid #0a2ff1;
    border-bottom: 150px solid #0a2ff1;

}
.Fecha{
    border-top: 10px #0a2ff1;
    font-family: 'Montserrat';
    font-weight: 900;
    background-color: white;
    color: #0a2ff1;
    font-size: 66px;
    text-align: center;
    margin-top: -60px;
    padding-bottom:50px;
}
.Black{
    font-family: 'Montserrat';
    font-weight: 900;
    color: white;
    background-color: black;
    font-size: 198px;
    text-align: center;
    margin-bottom: -200px;
    margin-top: -200px;

}
.Friday{
    font-family: 'Montserrat';
    font-weight: 900;
    background-color: white;
    color: black;
    font-size: 217px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Descuento{    
    font-family: 'Montserrat';
    font-weight: 600;
    background-color: white;
    color: #0a2ff1;
    font-size: 48px;
    text-align: center;
    margin-top: -100px;
    margin-bottom: -50px;
}
strong{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 60px;
    color: #0a2ff1;
}
span{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 60px;
    background-color: black;
    color: white;
}
.Frase{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #0a2ff1;
    background-color: white;
    font-size: 59px;
    text-align: center;
    padding-top: 1px;
    margin-bottom: -50px;
}