@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700;900&display=swap');
main{
    margin-top: 0;
    width: 40%;
    border: 1px black solid;
}
p{
    text-align: center;
    font-family: 'Source Sans 3';
    font-weight: 400;
    color: #04146c;
    background-color: #edf7ff;
    font-size: 13,5px;
}

h3{
    margin-top: -15px;
    text-align: center;
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-size: 15px;
    color: #04146c;
}
strong{
    font-family: 'Source Sans 3';
    font-weight: 700;
    font-size: 15px;
}
h1{
    text-align: center;
    font-family: 'Source Sans 3';
    font-weight: 900;
    color: #04146c;
    font-size: 50px;
    
}
h2{
    text-align: center;
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-size: 21,75px;
    background-color: #04146c;
    color: white;
    margin-top: 0;
}
div{
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
    width: 340px;
    height: 208px;

}
img{
    width: 340px;
    height: 208px;
}